@import "_variables";

.modal {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  display: none;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: opacity 1s ease 0s;
}

.modal-window {
  background-color: #fff;
  max-width: 1000px;
  position: relative;
  padding: 1rem;

  h2 {
    margin-top: 1rem;
  }

  @media (min-width: 992px) {
    background-color: #eee;
    margin: 4rem auto;
    width: 90%;
    width: calc(100% - 100px);
    padding: 2rem 3rem 3rem;
  }
}

.modal span:not(.close) {
  font-size: 0;
  margin: auto;
  display: block;
  max-width: 960px;
  margin-top: 50px;
  box-shadow: 0 0 0 3px #000;
}

.close {
  top: 1rem;
  right: 1rem;
  color: #aaa;
  cursor: pointer;
  position: fixed;
  width: 3rem;
  height: 3rem;


  &:hover, &:focus {
    color: indianred;
  }

  @media (min-width: 992px) {
    color: white;
    top: 3rem;
    right: 2rem;
  }

  &:before,
  &:after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    background: currentColor;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.open {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.loading {
  background: #1E1E1E url('../img/loader.gif') center center no-repeat;
}

/* https://github.com/faurelia/simple-modal-view/ */