@import "_variables";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;

  font-kerning: normal;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 4rem; /* 64px to make the container go all the way to the bottom */
  color: $text-color;
  font-weight: normal;
  font-family: sans-serif;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: $brand-color;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

/* Use Attribute Selectors with Empty Links */
a:empty:before {
  content: attr(href);
}
/*
a[href]:empty::before {
  content: attr(href);
}
*/

:focus {
  outline: none;
}

img, svg {
  max-width: 100%;
  vertical-align: middle;
}

.d-block, dialog {
  display: block;
}

p {
  margin: 0 0 2rem 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2, .h2 {
  font-size: 1.875rem;
  line-height: 2rem;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  font-size: 1.188rem;
  line-height: 2rem;
}

h1 {
  margin: 4rem 0 1rem;
}

h2 {
  margin: 3rem 0 1rem;
}

.container {
  & > h1, & > h2, & > h3 {
    margin-top: 0;
  }
}

h3, h4, h5, h6 {
  line-height: 2rem;
  margin: 0;
}

a, span, small, i, b, strong, em {
  display: inline-block;
}

section {
  padding: 4rem 0;
}
