.skippy {
  outline: 0;
  padding: 1em;
  color: white;
  display: block;
  text-align: center;

  &:hover {
    color: white;
  }
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}

.skippy-text {
  padding: .5em;
  outline: 1px dotted;
}
