.skippy {
  display: block;
  padding: 1em;
  color: white;
  text-align: center;
  outline: 0;

  &:hover {
    color: white;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.skippy-text {
  padding: .5em;
  outline: 1px dotted;
}